* {
  margin: 0;
  box-sizing: border-box;
  min-width: 0;
  font-size: 1rem;
  color: inherit;
}

body {
  font-family: "Nunito", sans-serif;
  color: #999;
  background-color: #121212;
  overflow-x: hidden;
}

.content {
  background-color: #121212;
}